<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Explorer</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

</head>

<body>

<header>
    <h1>Event Explorer</h1>
</header>

<section class="controls">
    <input type="text" placeholder="Search events...">

    <select>
        <option>All Events</option>
        <option>Free</option>
        <option>Paid</option>
    </select>
</section>

<section class="main-container">
    
    <!-- Map Section -->
    
        <div id="map"></div>
    

    <!-- Event Cards -->
    <div id="events">
        <div class="card">Event 1</div>
        <div class="card">Event 2</div>
        <div class="card">Event 3</div>
    </div>

</section>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>